/* ******************************************************************** */
/* Inicio etiquetas seccion dise#o datos de los recibos   ************** */
/* ******************************************************************** */
#dr_body{
    width:  750px;
    height: 750px;
    margin:auto;
    margin-top: 15px;
    text-align: center;
    border: solid 1px;
}
#dr_main{
    width:  700px;
    height: 700px;
    margin:auto;
    margin-top: 15px;
    text-align: center;
    border: dashed 1px;
}

/* ******************************************************************** */
/* Inicio etiquetas seccion detalle del recibo   ************** */
/* ******************************************************************** */
#recibo_body{
    width:  750px;
    height: 750px;
    margin:auto;
    margin-top: 15px;
    text-align: center;
    border: solid 1px;
}
#recibo_main{
    width:  700px;
    height: 650px;
    margin:auto;
    margin-top: 15px;
    text-align: center;
     
}
.div_consultor, .div_empresa{
  width:  700px;
  height: 120px;
}
 
.p_consultor {
  width: 350px; 
  height: 10px;
  float:left;
  text-align: left;
}
.p_empresa{
  width: 350px; 
  height: 10px;
  float:left;
  text-align: left;
}

.hd_tablePago {
   border: dashed 1px; 
   background-color: rgb(42, 126, 165);
   width:   650px; 
   height:  10px;
    
}

.dt_tablePago {
   border: dashed 1px; 
   width: 350px; 
   height: 10px;
}
.hd_tableServicio{
   border: dashed 1px; 
   background-color: rgb(42, 126, 165);
   width: 350px; 
   height: 10px;
}
.dt_tableServicio{
   border: dashed 1px; 
   width: 350px; 
   height: 10px;
}
 .celdaVacia,.dt_total{  
   width: 175px; 
   height: 15px;
}
.dt_total{
border:solid 1px;
}
.div_firma {
    float:left;
    margin-left: 10px;
    margin-top: 50px;
}